@import '../variables.scss';

.Slide {
  display: block;
  padding: 1rem;
  align-self: stretch;
  min-width: 20rem;
  // @include borderStyle;

  &__Image {
    display: block;
    width: 100%;
  }
}
