/*===========COLORS===========*/
$color-primary: '#4bd4b0';
$color-white: #fff;
$color-light-grey: #f7f7f7;

/*============WIDTH============*/
$sliderWidth: 110rem;

/*===========MIXINS===========*/

@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin borderStyle {
  border: 1px solid $color-light-grey;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
